* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 138, 102);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% 85%;
}

/** CSS for navigar **/
.navLogin {
    background-color: pink;
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1%;
    padding-left: 5%;
    border-radius: 4px;
}

.navLogin_left {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    text-align: center;
}

.name {
    text-decoration-line: none;
    font-size: 18px;
    color: white;
}

.home {
    text-decoration-line: none;
    font-size: 18px;
    color: white;
}

.contact {
    text-decoration-line: none;
    font-size: 18px;
    color: white;
}

.aboutUs {
    text-decoration-line: none;
    font-size: 18px;
    color: white;
}

.btn_navLogin {
    text-decoration-line: none;
    font-size: 18px;
    color: white;
}

a:hover {
    color: red;
}

/** CSS for Form **/

.login {
    width: 80%;
    height: 90%;
    margin-top: 3.8%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/** This is CSS for image **/

.mainLogin_img {
    width: 96%;
    height: 95%;
    padding-top: 3%;
    padding-left: 3%;
}

/** This is CSS for loginForm **/

#loginForm {
    height: 100%;
    width: 80%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

/** This is CSS for header **/
.headerLogin {
    width: 60%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f3f1ef;
    border: 0;
    border-radius: 30px
}

.btnLogin {
    background-color: transparent;
    border-radius: 30px;
    border-color: transparent;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.btnRegister {
    background-color: transparent;
    border-radius: 30px;
    border-color: transparent;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

/** This is CSS for input Login **/
.inputLogin {
    top: 30%;
    position: absolute;
    width: 20%;
    margin-left: 2%;
    transition: .5s;
    display: none;
}

.emailLogin {
    width: 100%;
    padding: 10px 0;
    margin-top: 25%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.passLogin {
    width: 100%;
    padding: 10px 0;
    margin-top: 20%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    font-size: 18px;
}

.submitLogin {
    width: 85%;
    padding: 10px 30px;
    margin-top: 10%;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}

.check-box {
    margin-left: 0;
    margin-top: 14%;
    margin-bottom: 15%;
}

span {
    color: #777;
    font-size: 18px;
    margin-top: 13%;
    margin-left: 10%;
    position: absolute;
}

/**This is CSS for input Register **/
.inputRegister {
    top: 30%;
    position: absolute;
    width: 20%;
    margin-left: 2%;
    transition: .5s;
}

.firstName {
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.lastName {
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.emailRgt {
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.passRgt {
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.passRgtConfirm {
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    margin-bottom: 20%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    font-size: 18px;
}

.submitRgt {
    width: 85%;
    padding: 10px 30px;
    margin-top: 50%;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}

.inputLogin input {
    font-size: 18px;
}

.inputRegister input {
    font-size: 18px;
    text-decoration-line: none;
}