@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400&display=swap");

:root {
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    --cursive-font: "Dancing Script", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: var(--white-light);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color)
}

#welcome {
    color: var(--main-color)
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-padding {
    padding: 12px 0;
}

.justify-content-between {
    justify-content: space-between;
}

.min-h-100 {
    min-height: 100vh;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

.section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 30px;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #FBF8F3;
    z-index: -1;
    transition: all 0.5s ease;
}

.header.sticky::before {
    transform: translateY(0%);

}

.nav-toggler {
    width: 44px;
    height: 34px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.nav-toggler span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: var(--main-color);
    position: relative;

}

.nav-toggler span::before {
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(-8px);
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.nav-toggler span::after {
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(8px);
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 30px 30px 40px;
    transition: 0.5s ease;
    background-image: url("https://images.pexels.com/photos/1673876/pexels-photo-1673876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;

}

.nav ul li a {
    color: wheat;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    transition: 0.3s ease;

}

.nav ul li a:hover {
    color: var(--main-color);
}

.nav ul li {
    margin-bottom: 10px;
}



/* Home-section */
.home-section {
    position: relative;
    overflow: hidden;
}

@keyframes ZoomInout {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

}

.home-section .home-section-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
    animation: ZoomInout 20s infinite;

}

.home-section .home-section-bg::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    display: block;
    background-color: var(--dark);
    opacity: 0.5;
}

.home-section .home-text {
    margin: auto;
    max-width: 500px;
    text-align: center;

}

.home-section .home-text h1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 75px;
    font-family: var(--cursive-font);
}

.home-section .home-text p {
    font-weight: 900;
    font-size: 25px;
}


.btn:hover {
    background-color: var(--white-light);
    color: var(--main-color);
}

/* About Section */
.about-section {
    background-color: var(--dark-light);
}

.about-img, .about-text {
    width: 50%;
    padding: 15px;
}

.about-text h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.about-text p {
    margin: 0 0 15px;
}

.about-img .img-box img {
    width: 100%;
    border-radius: 10px;
}

.img-box {
    position: relative;
}

.img-box h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    font-family: var(--cursive-font);
    font-weight: 600;
    color: yellow;
}

@keyframes Quay {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.img-box::before {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid var(--main-color);
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    animation: Quay 10s infinite;

}

/* menu-section */
.menu-section {
    background-color: var(--dark);

}

.menu-section button {
    cursor: pointer;
}

.menu-taps {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.menu-taps .menu-tap-item {
    background: transparent;
    border: none;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu-taps .menu-tap-item:hover {
    color: var(--main-color);
}

.menu-taps .menu-tap-item.active {
    color: var(--main-color);
}

.menu-item {
    width: calc(100%/2);
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-tap-content .menu-item:hover .menu-item-price {
    color: var(--white);
}

.menu-tap-content .menu-item:hover h3 {
    color: var(--main-color);
}

.menu-tap-content .menu-item::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 15px;
    right: 15px;
    border: 1px dashed var(--dark-light);
}

.menu-item .menu-item-title {
    display: flex;
    align-items: center;
}

.menu-item .menu-item-title img {
    max-width: 100x;
    margin-right: 15px;
}

.menu-item .menu-item-title h3 {
    font-size: 16px;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.menu-item .menu-item-price {
    font-size: 16px;
    color: var(--main-color);
    transition: all 0.5s ease;
    display:
}

.menu-item .menu-item-title img {
    height: 70px;
    width: 100px;
}

.menu-tap-content {
    display: none;
}

.menu-tap-content.active {
    display: flex;
    flex-wrap: wrap;
}

/* testimony-section */
.testimony {
    background-color: var(--dark-light);
}

.testimony-item {
    width: calc(100%/3 - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--shadow);
}

.testimony-item:hover .testimony-img img {
    border-color: var(--main-color);
}

.testimony-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0
}

.testimony-item p {
    margin: 15px 0;
}

.testimony-item .rating i {
    color: var(--main-color);
}

.testimony-author .testimony-img img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    border: 3px solid var(--dark);
    box-shadow: var(--shadow);
    transition: border-color 0.3s ease;

}


/* footer */
.footer-section {
    background-image: url("https://thewayweseeit.org/wp-content/uploads/2017/07/food-photography3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    padding: 80px 0 0;
}

.footer-section::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.footer-item {
    width: calc(100%/3);
    text-align: center;
    padding-bottom: 40px;

}

.footer-item h3 {
    margin-bottom: 15px;
}

.footer-item p {
    line-height: 25px;
}

.social-item {
    margin-top: 20px;
}

.social-item i {
    margin-right: 12px;
}

.social-item i:hover {
    color: var(--main-color);
}



.copyright {
    text-align: center;
    border-top: 1px solid var(--white-light);
    width: 100%;
    padding: 80px 0 12px;
}



/* Login - Logout Form */

#bg-login {
    display:none
}

.LoginForm{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-image: url("https://imgur.com/pQlOPpW"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: top left;
    z-index: 1001;
}

.RgtForm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-image: url("https://i.imgur.com/yxVPnPK.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: top left;
    z-index: 1001;
    display: none;
}

.mainFormLogin { 
    width: 30%;
    height: 70%;
    display: inline-block;
    margin-top: 20%;
    margin-left: 15%;
    text-align: center;
}

.mainFormRgt { 
    width: 30%;
    height: 70%;
    display: inline-block;
    margin-top: 15%;
    margin-left: 20%;
    text-align: center;
}
     
.close2 {
    color:rgb(222,222,223);
    font-size: 60px;
    text-transform: uppercase;
    position: absolute;
    right: 39%;
    top: 0%;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 3;
}

.close2:hover {
    color: var(--main-color);
}

.close1 {
    color:rgb(222,222,223);
    font-size: 60px;
    text-transform: uppercase;
    position: absolute;
    right: 39%;
    top: 0%;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 3;
}

.close1:hover {
    color: var(--main-color);
}

/* ------------------------------  */

.emailLogin_Ctn {
	width: 100%;
    position: relative;
    display: block;
    z-index: 0;
}

.emailLgLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color:var(--main-color)
}

.emailLogin {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    z-index: 0;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

.passLogin_Ctn {
	width: 100%;
    margin-top: 15%;
    position: relative;
    display: block;
}

.passLgLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color: var(--main-color)
}

.passLogin {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

::placeholder {
    font-size: 18px;
}

.submitLogin {
	width: 90%;
    height: 50px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin-top: 5%; 
	background-color: var(--main-color);
	font-size: 20px;
    color: rgb(222,222,223);
    margin-bottom: 5%;
    position: relative;
    border-radius: 25px;
}

#check-box {
    margin-right: 10px;
    width: 15px;
    height: 15px; 
    margin-top: 15%;
    display: inline-block;
    position: relative;
    margin-left: -10%;
}

.checkbox_text {
    color: rgb(222,222,223);
    font-size: 19px;
    position: relative;
}

.qsLogin {
    font-size: 18px;
    position: relative;
    color: rgb(222,222,223);
    margin-left: -10%;
}

.iqsLogin {
    font-size: 19px;
    cursor: pointer;
    color: rgb(222,222,223);
}

.iqsLogin:hover {
    color: var(--main-color)
}

#error {
	color: rgb(252, 77, 77); 
	font-size:18px;
    margin-top: 15%;
    margin-left: 0px;
	position:absolute;
}

/* -------------------------------- */

.account {
    margin-top: 1%;
    font-size: 18px;
    color: rgb(222,222,223);
    margin-left: -12%;
}

.iAccount {
    font-size: 19px;
    cursor: pointer;
    color: rgb(222,222,223);
}

.iAccount:hover {
    color: var(--main-color)
}

.yourName_Ctn {
	width: 100%;
    margin-top: 5%;
    position: relative;
    display: block;
}

.yNameLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color:var(--main-color)
}

.yourName {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    z-index: 0;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
}

.emailRgt_Ctn {
	width: 100%;
    margin-top: 12%;
    position: relative;
    display: block;
    z-index: 0;
}

.emailRgtLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color:var(--main-color)
}

.emailRgt {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    z-index: 0;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
}

.passRgt_Ctn {
	width: 100%;
    margin-top: 12%;
    position: relative;
    display: block;
    z-index: 0;
}

.passRgtLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color:var(--main-color)
}

.passRgt {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    z-index: 0;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
}

.passRgtConfirm_Ctn {
	width: 100%;
    margin-top: 12%;
    position: relative;
    display: block;
    z-index: 0;
}

.passCfLogo {
    position: absolute;
    font-size: 20px;
    z-index: 1; 
    margin-top: 4%;
    left: 6%;
    color:var(--main-color)
}

.passRgtConfirm {
    width: 90%;
    height: 50px;
    background-color: #fff;
    display: block;
    z-index: 0;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 25px;
}

.submitRgt {
	width: 90%;
    height: 50px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin-top: 12%; 
	background-color: var(--main-color);
	font-size: 20px;
    color: rgb(222,222,223);
    margin-bottom: 5%;
    position: relative;
    border-radius: 25px;
}

.submitRgt:hover {
    background-color: var(--main-color);
} 

.mainFormLogin input {
    font-size: 19px;
    color: black;
    padding-left: 60px;
    padding-right: 50px;
}

.mainFormRgt input {
    font-size: 19px;
    text-decoration-line: none;
    color: black;
    padding-left: 60px;
    padding-right: 50px;
}


/* Responsive */

@media(max-width: 1024px) {
    .mainFormLogin {
        width: 45%;
        margin-top: 30%;
        margin-left: 20%;
    }

    .mainFormRgt { 
        width: 45%;
        margin-top: 25%;
    }

    .yourName_Ctn {
        margin-top: 4%;
    }

    .emailRgt_Ctn, 
    .passRgt_Ctn,
    .passRgtConfirm_Ctn,
    .submitRgt {
        margin-top: 13%;
    }

    .close1,.close2 {
        right: 60px;
    }
}

@media(max-width: 767px) {
    .testimony-item {
        width: calc(100% - 30px);
    }

    .team-item {
        width: 50%;
        margin-bottom: 70px;
    }

    .about-text,
    .about-img {
        width: 100%;
    }

    .menu-item {
        width: 100%;
    }

    .about-text {
        margin-bottom: 40px;
    }

    .mainFormLogin,
    .mainFormRgt { 
        width: 65%;
        margin-top: 40%;
        overflow: auto;
    }

    .welcomeLogin {
        margin-top: 13%;
    }
    

    .emailLogin_Ctn {
        margin-top: 6%;
    }

    .passLogin_Ctn {
        margin-top: 15%;
        margin-bottom: 2%;
    }

    .submitLogin {
        margin-top: 5%;
    }

    .welcomeRgt {
        padding-top: 12%;
    }

    .yourName_Ctn {
        margin-top: 3.5%;
    }

    .emailRgt_Ctn, 
    .passRgt_Ctn,
    .passRgtConfirm_Ctn,
    .submitRgt {
        margin-top: 10.5%;
    }

    .close2,
    .close1 {
        right: 0px;
        top: 0%
    }
}

@media(max-width: 575px) {
    .team-item {
        width: 100%;
        margin-bottom: 70px;
    }

    .footer-item {
        width: 100%;
    }

    .menu-item {
        width: 100%;
    }
    
    .mainFormLogin { 
        width: 80%;
        height: 50%;
        margin-top: 50%;
        margin-left: 15%;
        overflow: auto;
    }

    .emailLogin_Ctn {
        margin-top: 8%;
    }

    .passLogin_Ctn {
        margin-top: 16%;
        margin-bottom: 0%;
    }

    .submitLogin {
        margin-top: 5%;
    }

    .mainFormRgt {  
        width: 80%;
        height: 80%;
        margin-top: 50%;
        overflow: auto;
    }

    .emailRgt_Ctn, 
    .passRgt_Ctn,
    .passRgtConfirm_Ctn,
    .submitRgt {
        margin-top: 13%;
    }
}

@media(max-width: 480px) {
    .mainFormLogin { 
        width: 80%;
        height: 50%;
        margin-top: 70%;
        margin-left: 15%;
        overflow: auto;
    }

    .emailLogin_Ctn {
        margin-top: 8%;
    }

    .passLogin_Ctn {
        margin-top: 16%;
        margin-bottom: 0%;
    }

    .submitLogin {
        margin-top: 5%;
    }

    .mainFormRgt {  
        width: 80%;
        height: 80%;
        margin-top: 70%;
        overflow: auto;
    }

    .emailRgt_Ctn, 
    .passRgt_Ctn,
    .passRgtConfirm_Ctn,
    .submitRgt {
        margin-top: 13%;
    }
}

/* ---------------Cart-------------- */

.cart {
    width: 50%;
    margin: auto;
    text-align: center;

}

.cart h2 {
    margin-bottom: 20px;
}

.cart table {
    width: 100%;

}

.cart table thead tr th:first-child {
    text-align: left;
}

.cart table tr td {
    border-bottom: 1px solid #ddd;
}

.cart i {
    cursor: pointer;
    margin-bottom: 20px;
}

.cart {
    position: fixed;
    height: 100vh;
    width: 500px;
    right: 0;
    top: 68px;
    background-color: var(--dark-light);
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 0.5s ease;
}

.nav i {
    cursor: pointer;
}
