:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

.space-between {
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;

}

.top.active {
    background-color: rgba(255, 255, 255, 1);
}

.top:hover {
    background-color: rgba(255, 255, 255, 1);
}




/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}

.top-menu-icons ul {
    display: flex;
    height: 100%;
}

.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}

.top-menu-icons ul li {
    position: relative;

}

.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}

.top-menu-icons ul li:last-child::before {
    display: none;
}

.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
}

.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}

.top-menu-icons ul i {
    cursor: pointer;
}

/* ..................Slider....................... */
.sliders {
    padding-bottom: 20px;
    overflow: hidden;
    width: 100vw;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: all 0.3s ease;

}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;


}

.dot {
    width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.active {
    background-color: #333333;
}

/* -------------footer */
.footer {
    padding: 100px 0 0;
    border-top: 2px solid black;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container p {
    font-weight: bold;
    font-size: 18px;
    font-family: var(--main-text-font);
}

.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}

.input-email input {
    width: 100%;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    text-align: center;
}

.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.footer-items li {
    padding: 12px;
    position: relative;
}

.footer-items li a {
    color: #333;
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 12px;
}

.footer-items li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #cccccc;
    right: 0;
}

.footer-items li:last-child::after {
    display: none;
}

.footer-items li:last-child i {
    font-size: 12px;
    margin-right: 12px;
    color: #333333;
}

.footer-items li:last-child i:hover {
    color: black;
}

.footer-items img {
    width: 100px;
}





/* ----------------------------Delivery--------------------- */
.delivery {
    padding: 100px 0;
}

.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.delivery-top-item i {
    color: #dddddd;
}

.delivery-top-adress {
    border: 1px solid #0DB7EA;
}

.delivery-top-adress i {
    color: #0DB7EA;
}

.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;

}

.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left>p {
    font-weight: bold;
}



.delivery-content-left-khachle {
    margin: 12px 0;
}

.delivery-content-left-khachle input {
    margin-right: 12px;
}

.delivery-content-left-dangky {
    margin-bottom: 30px;
}

.delivery-content-left-dangky input {
    margin-right: 12px;
}

.delivery-content-left-input-top {
    justify-content: space-between;
}

.delivery-content-left-input-top-item {
    width: calc(50% - 12px);
}

.delivery-content-left-input-top-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-input-bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left-button span {
    margin-right: 12px;
}

.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}

.delivery-content-left-button button {
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delivery-content-left-button button:hover {
    background-color: black;
    color: #fff;
}

.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}

.delivery-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}

.delivery-content-right table tr th:first-child {
    text-align: left;
}

.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;

}

.delivery-content-right table tr th:last-child {
    text-align: right;
}

.delivery-content-right table tr td {
    padding: 6px 0;
}

.delivery-content-right table tr:nth-child(4) {
    border-top: 2px solid #dddddd;
}

.delivery-content-right table tr td:last-child {
    text-align: right;
}

.delivery-content-right table tr td:first-child {
    text-align: left;
}
