:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

.space-between {
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;

}

.top.active {
    background-color: rgba(255, 255, 255, 1);
}

.top:hover {
    background-color: rgba(255, 255, 255, 1);
}





/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}

.top-menu-icons ul {
    display: flex;
    height: 100%;
}

.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}

.top-menu-icons ul li {
    position: relative;

}

.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}

.top-menu-icons ul li:last-child::before {
    display: none;
}

.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
}

.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}

.top-menu-icons ul i {
    cursor: pointer;
}

/* -------------footer */
.footer {
    padding: 100px 0 0;
    border-top: 2px solid black;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container p {
    font-weight: bold;
    font-size: 18px;
    font-family: var(--main-text-font);
}



.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}

.input-email input {
    width: 100%;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    text-align: center;
}

.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.footer-items li {
    padding: 12px;
    position: relative;
}

.footer-items li a {
    color: #333;
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 12px;
}

.footer-items li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #cccccc;
    right: 0;
}

.footer-items li:last-child::after {
    display: none;
}

.footer-items li:last-child i {
    font-size: 12px;
    margin-right: 12px;
    color: #333333;
}

.footer-items li:last-child i:hover {
    color: black;
}

.footer-items img {
    width: 100px;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    font-family: var(--main-text-font);

}





/* -----------------------Cart-------------------- */
.cart {
    padding: 100px 0;
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #dddddd;
}

.cart-top-cart {
    border: 1px solid #0DB7EA;
}

.cart-top-cart i {
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;

}

.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;

}


.cart-content-left table span {
    display: block;
    cursor: pointer;
}

.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}

/*.cart-content-left td:first-child img {
    width: 30px;
}

.cart-content-left td:nth-child(2) {
    max-width: 130px;
}

.cart-content-left td:nth-child(3) img {
    width: 30px;
}
*/
.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}



.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px solid #dddddd;
}

.cart-content-right tr td:last-child {
    text-align: right;
}

.cart-content-right-button {
    text-align: center;
    align-items: center;
}

.cart-content-right-button button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child {
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
    background-color: #ddd;
}

.cart-content-right-button button:last-child {
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}

.cart-content-right-button button:last-child:hover {
    background-color: #dddddd;
    color: black;
}

.cart-content-right-dangnhap {
    margin-top: 20px;
}

.cart-content-right-dangnhap p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}